{% extends "base.html" %}

{% block head %}
    <title>Casual Playground WEB 0.4.0 ALPHA BUILD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/capl.css') }}" />
{% endblock %}

{% block body %}
    <div style="font-family: 'Montserrat', sans-serif">
        <table style="width: 100%; padding: 8px 16px">
            <tr>
                <td style="margin: 0; padding: 0; color: #222">
                    <div style="font-size: 2rem; display: inline">Casual Playground</div>
                    <a class="gray" style="font-size: 1rem" href="/">by NotLexa</a>
                </td>
                <td style="margin: 0; padding: 0; width: 1%; white-space: nowrap">
                    <table style="padding: 8px">
                        <tr>
                            <td>
                                <form target="_blank" action="https://boosty.to/notlexa">
                                    <input class="boosty-button" type="submit" value="Support Casual Playground!" />
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="main-table">
            <tr>
                <td style="width: 20%"></td>
                <td style="width: 60%">
                    <div id="CasualPlaygroundCanvasContainer" class="canvas-container">
                        <canvas id="CasualPlaygroundCanvas" style="position: absolute"></canvas>
                        <div class="loader" id="LoadingSpinner"></div>
                        <div class="loader-text" id="LoadingState" style="font-size: 2vmax;">Loading... (1/5)</div>
                        <div class="loader-text" id="LoadingSubstate" style="top: calc(50% + 4vmax); font-size: 1.5vmax;"></div>
                    </div>
                </td>
                <td style="width: 20%; position: relative; padding: 4px; font-size: 1rem">
                    <div style="position: absolute; bottom: 0">
                        <a class="project-links" target="_blank" href="https://notlexa.itch.io/casual-playground">
                            Casual Playground Desktop
                        </a>
                        <a class="project-links" target="_blank" href="https://github.com/NottLexa/Casual-Playground">
                            Casual Playground on GitHub
                        </a>
                        <a class="project-links" target="_blank" href="https://discord.gg/HfsNpfJFDR">
                            Casual Playground Discord Server
                        </a>
                        <a class="project-links" target="_blank" href="https://boosty.to/NotLexa">
                            Boosty (paid subscription)<sup> - Support me!</sup>
                        </a>
                    </div>
                </td>
            </tr>

        </table>
        <div style="text-align: center; padding: 20px; align-items: center; font-size: 0.75rem" class="copyright">
            <p>Copyright © 2023 Alexey Kozhanov</p>
            <p>
                Casual Playground is free software: you can redistribute it and/or modify it under
                the terms of the GNU General Public License as published by the Free Software Foundation,
                either version 3 of the License, or (at your option) any later version.
            </p>
            <p>
                Casual Playground is distributed in the hope that it will be useful, but WITHOUT ANY
                WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
                PURPOSE. See the GNU General Public License for more details.
            </p>
            <p>
                You should have received a copy of the GNU General Public License along with
                Casual Playground. If not, see &lt;https://www.gnu.org/licenses/&gt;.
            </p>
        </div>
    </div>
    <div id="text_window" style="visibility: hidden; margin: 0; border: 0; padding: 0; display: inline-block"></div>
    <script id="script" src="{{ url_for('static', filename='capl/bundle.js') }}" platform="WEB"></script>
{% endblock %}