@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('default.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-size: 125%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

a.white:link, a.white:visited, a.white:hover, a.white:focus, a.white:active {
    color: #fff;
}