.frontpage-bg {
    animation: frontpage-bg-anim 10s linear infinite;
    background: rgb(80, 37, 98);
    background: linear-gradient(90deg, rgba(80,37,98,1) 0%, rgba(37,61,98,1) 50%, rgba(80,37,98,1) 100%);
    background-size: 1000%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

@keyframes frontpage-bg-anim {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100vw;
    }
}

.arrow-img {
    animation: arrow-img-anim 4s ease-in-out infinite;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes arrow-img-anim {
    0%, 100% {
        top: 0;

    }
    50% {
        top: 10px;
    }
}

a.link-buttons, a.link-buttons:visited {
    border-radius: 32px;
    padding: 4px 8px;
    border: 2px solid white;
    margin: 6px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
}

a.link-buttons:hover, a.link-buttons:focus {
    background: rgba(255, 255, 255, 0.2);
}

a.link-buttons:active {
    background: rgba(255, 255, 255, 0.4);
}

.description {
    font-family: 'Source Sans Pro', sans-serif;
}

.description h1 {
    font-family: 'Montserrat', sans-serif;
}

.description p {
    margin: 1rem 25vw 1rem 5vw;
    text-indent: 2rem;
}

input.boosty-button {
    padding: 4px 8px;
    font-size: 2.5rem;
    background: rgb(255,167,23);
    background: linear-gradient(180deg, rgb(255, 167, 23) 0%, rgb(213, 48, 7) 100%);
    transition: background 0.125s ease-in-out;
    background-size:1px 5rem;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}

input.boosty-button:hover {
    background-position: 2.5rem;
}

.available-list {
    margin-top: 0;
    margin-left: 10vw;
}

.available-list a {
    color: black;
}