{% extends "base.html" %}

{% block head %}
    <title>Omegame - 404</title>
    <meta http-equiv="refresh" content="3; URL=/" />
{% endblock %}

{% block body %}
    <div class="centered" style="font-family: 'Source Sans Pro', sans-serif">
        <b style="font-size: 250%">Oi!</b><br>
        Looks like you've landed on a page that doesn't exist.<br>
        Don't worry, we will take you to the Rubeam home page in 3 seconds.<br>
        <br>
        <i style="color: rgba(0,0,0,0.2)">
            Awkward...
        </i>
    </div>
{% endblock %}