<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body style="margin: 0">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>